@model Presentation.Models.ProjetMv

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
        <h4>ProjetMv</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Clients</label>
            <div class="col-md-10">
                @Html.DropDownList("idClient", (SelectList)ViewData["MyClients"])
                @Html.ValidationMessageFor(model => model.idClient, "", new { @class = "text-danger" })
            </div>
        </div>

        
        <div class="form-group">
            <label class="control-label col-md-2">Budget</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
            </div>
        </div>
       


        <div class="form-group">
            <label class="control-label col-md-2"> Date begin</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateBegin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateBegin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date end </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.dateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Number of ressources</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.nbRessources, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbRessources, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Picture</label>
            <div class="col-md-10">
                upload file
                @Html.TextBox("file", "", new { type = "file" })

                @Html.ValidationMessageFor(model => model.picture, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            <label class="control-label col-md-2"> Type Project : <span class="danger">*</span> </label>
            <div class="col-md-10">
                <select class="custom-select form-control required" name="TypeProject">
                    <option value="">select type</option>
                    <option value="Web">Web</option>
                    <option value="Mobile">Mobile</option>
                    <option value="Desktop">Desktop</option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
             
                <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#add-contact">Add new client</button>
            </div>
        </div>
    </div>
}

<div>
    <button class="btn btn-blue" align="center">  @Html.ActionLink("Back to project list", "Index")</button>
</div>
