<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/template")

</head>
<body class="hold-transition skin-blue-light sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="index-2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <b class="logo-mini">
                    <span class="light-logo"><img src="../../../../images/logo-light.png" alt="logo"></span>
                    <span class="dark-logo"><img src="../../images/logo-dark.png" alt="logo"></span>
                </b>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <img src="../../images/logo-light-text.png" alt="logo" class="light-logo">
                    <img src="../../images/logo-dark-text.png" alt="logo" class="dark-logo">
                </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li class="search-box">
                            <a class="nav-link hidden-sm-down" href="javascript:void(0)"><img src="../../images/svg/baseline-search-24px.svg"/></a>
                            <form class="app-search" style="display: none;">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>

                        <!-- Messages -->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../images/svg/baseline-email-24px.svg">
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="header bg-primary text-white">You have 5 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu inner-content-div">
                                        <!-- start message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="../../images/user2-160x160.jpg" class="rounded-circle" alt="User Image">
                                                </div>
                                                <div class="mail-contnet">
                                                    <h4>
                                                        Lorem Ipsum
                                                        <small><i class="fa fa-clock-o"></i> 15 mins</small>
                                                    </h4>
                                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#" class="bg-primary text-white">See all e-Mails</a></li>
                            </ul>
                        </li>
                        <!-- End Message -->
                        <!-- Notifications -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../images/svg/baseline-notification_important-24px.svg"/>
                            </a>
                            <ul class="dropdown-menu scale-up">
                                <li class="header bg-primary text-white">You have 7 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu inner-content-div">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> Curabitur id eros quis nunc suscipit blandit.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Duis malesuada justo eu sapien elementum, in semper diam posuere.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> In gravida mauris et nisi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Praesent eu lacus in libero dictum fermentum.
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Nunc fringilla lorem
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#" class="bg-primary text-white">View all</a></li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><img src="../../images/svg/baseline-settings-20px.svg"/></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="ulogo">
                        <a href="index-2.html">
                            <!-- logo for regular state and mobile devices -->
                            <span class="text-white"><b>Levio </b>Admin</span>
                        </a>
                    </div>
                    <div class="image">
                        <img src="../../images/2.jpg" class="rounded-circle" alt="User Image">
                    </div>
                    <div class="info text-white">
                        <p>Admin Session</p>
                        <a href="#" class="link text-white" data-toggle="tooltip" title="" data-original-title="Settings"><i class="ion ion-gear-b"></i></a>
                        <a href="#" class="link text-white" data-toggle="tooltip" title="" data-original-title="Email"><i class="ion ion-android-mail"></i></a>
                        <a href="#" class="link text-white" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
                    </div>
                </div>
                <!-- sidebar menu -->
                <ul class="sidebar-menu" data-widget="tree">

                    <li class="treeview active">
                        <a href="#">
                            <img src="../../images/svg/baseline-dashboard-24px.svg"/>
                            <span>Dashboard</span>
                            <span class="pull-right-container">
                            </span>
                        </a>
                    </li>
                    <!-----------------------------------BLOCK------------------------------------------------->
                    <!-- Lahné talka example taa partie taa crud wala ay zok om haja theb taamlha -->
                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-menu-24px.svg"/>
                            <span>App</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg"/>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/app/app-chat.html">Chat app</a></li>
                        </ul>
                    </li>
                    <!-- toufa lahné -->
                    <!----------------------------------------------------------------------------------------->
                    <!-----------------------------------BLOCK------------------------------------------------->
                    <!-- Lahné talka example taa partie taa crud wala ay zok om haja theb taamlha -->
                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-mail-24px.svg"/> <span>Mailbox</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
                        </ul>
                    </li>
                    <!-- toufa lahné -->
                    <!----------------------------------------------------------------------------------------->
                    <!-----------------------------------BLOCK------------------------------------------------->
                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-recent_actors-24px.svg"/> <span>INTERNATIONAL</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
                        </ul>
                    </li>

                    <!-- TNAJEM THOT CRUD TEEK WALA METIE TEEK LAHNE bien sur taba3 nayek el template ya bhim-->
                    <!----------------------------------------------------------------------------------------->
                    <!-----------------------------------BLOCK------------------------------------------------->
                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-queue-24px.svg"/> <span>REQUEST MANAGEMENT</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
                        </ul>
                    </li>
                    <!-- TNAJEM THOT CRUD TEEK WALA METIE TEEK LAHNE bien sur taba3 nayek el template ya bhim-->
                    <!----------------------------------------------------------------------------------------->

                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-transfer_within_a_station-24px.svg"/> <span>RESSOURCE</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
                        </ul>
                    </li>
                    

                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-business_center-24px.svg"/> <span>PROJECT/CLIENT</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("Client management","Index","Client","Index",null)</li>
                            <li>@Html.ActionLink("Project management", "Index", "Project", "Index", null)</li>
                            <li>@Html.ActionLink("Project Statistic", "Index", "ProjectStat", "Index", null)</li>
                        </ul>
                    </li>
                    <!-- TNAJEM THOT CRUD TEEK WALA METIE TEEK LAHNE bien sur taba3 nayek el template ya bhim-->
                    <!----------------------------------------------------------------------------------------->

                    <li class="treeview">
                        <a href="#">
                            <img src="../../images/svg/baseline-supervisor_account-24px.svg"/> <span>MANDATE</span>
                            <span class="pull-right-container">
                                <img src="../../images/svg/baseline-keyboard_arrow_right-24px.svg" />
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="pages/mailbox/mailbox.html">Inbox</a></li>
                        </ul>
                    </li>
                    <!-- TNAJEM THOT CRUD TEEK WALA METIE TEEK LAHNE bien sur taba3 nayek el template ya bhim-->
                    <!----------------------------------------------------------------------------------------->

                </ul>
            </section>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Control panel</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><img src="../../images/svg/baseline-dashboard-24px.svg" /> Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </section>
            <section class="content">
                <!-- Main content -->
                @RenderBody()
                <!-- /.content -->
            </section>
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right d-none d-sm-inline-block">
            </div>
            &copy; 2018 <a href="#">Left 4 Code Team</a>. All Rights Reserved.
        </footer>

        <!-- Control Sidebar -->
        <!-- /.control-sidebar-menu -->

    </div>
    <!-- /.tab-pane -->
    <!-- Stats tab content -->
    <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
    <!-- /.tab-pane -->
    <!-- Settings tab content -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>

    </div>
    <!-- ./wrapper -->



@Scripts.Render("~/bundles/template")
@RenderSection("scripts", required: false)

</body>
                
</html>
